@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

button {
    font: inherit;
    border: 2px solid black;
    background: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    height: 17vh;
    width: 17vw;
  }

  #play {
    position: absolute;
    top: 40vh;
    left: 18vw;
  }

  #highScores {
        position: absolute;
        top: 60vh;
        left: 18vw;
  }

  button:hover{
    transform: scale(1.1) perspective(1px)
  }

  .title{
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    position: absolute;
    top: 1vh;
    left: 14.4vw;
  }